* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0b0b0b;
    color: #eaeaea;
    font-family: 'Segoe UI', sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
}

.titulo {
    color: yellow;
    font-size: 32px;
}

.logoo {
    width: 60px;
    display: block;
    margin: 10px auto;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 10px 0;
}

.menu__link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: 0.3s;
}

.menu__link:hover {
    color: yellow;
}

.fondo {
    height: 100vh;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
        url("raton-teclado-computadora-joystick-sobre-fondo-negro_93675-159166.avif");
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
}

.fondo__text {
    text-align: center;
    color: yellow;
}

.fondo__titulo {
    color: yellow;
    font-size: 40px;
}
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #222;
    color: #777;
    margin-top: 40px;
 }